@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary-color: #000;
    --secondary-color: #fff;
    --gold-color: #ddc35b;
    --deeppink-color: #e10097;
    --turquoise-color: #53dcff;
    --required: #fa5a5a;
    --text-underline: underline;
    --h1-font-family: "Tangerine";
}
body{
    background-color:#000;
    color:whitesmoke;
    font-family:'Tangerine';
}

.header_title{
    display:flex;
    justify-content: space-between;
}

.header_name{
    margin-left: 50px;
    text-decoration: none;
}

.pers_name{
    color:whitesmoke;
    font-size: 4rem;
    margin-top:50px;
}
.header_nav{
    margin-right: 50px;
}

.nav-list{
    list-style-type: none;
    font-family: 'Open Sans';
    margin:0,auto;
    padding:0;
}

.nav-list li{
    display: inline-block;
    margin: 50px 15px 50px 15px;
}

.nav-list__item{
    font-size: 1.1rem;
    text-decoration: none;
}

.nav-list__item:link {
    color: var(--gold-color);
    text-decoration: var(--no-decoration);
  }
  
  .nav-list__item--visited:visited {
    color: var(--secondary-color);
    text-decoration: var(--gold-color);
  }
  
  .nav-list__item--hover:hover {
    color: var(--gold-color);
    text-decoration: var(--text-underline);
  }
  
  .nav-list__item--hover:focus {
    color: var(--turquoise-color);
    text-decoration: var(--text-underline);
  }
  
  .nav-list__item--active:active {
    color: #f559b0;
    text-decoration: var(--text-underline);
  }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;

}

.photo{
    margin:100px 100px 0px 200px;
}

.text{
    line-height: 1.4;
    width:50%;
    padding-top:65px;
}

#benno_foto{
    width: 375px;
    height: 500px;
}
p{
    font-family: 'Open Sans';
    letter-spacing: 1px;
}

@media all and (max-width: 500px){
    .header_title{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .header_name{
        margin:0;

    }

    .nav-list li{
        display: block;
        margin: 0;
    }

    .container{
        display: block;
        width:100vw;
    }
    .photo{
        margin:0px;
    }
    .text{
        padding: 0 10px 0 10px;
        margin: 0px;
        width:93vw;

    }

}