@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --primary-color: #000;
    --secondary-color: #fff;
    --gold-color: #ddc35b;
    --deeppink-color: #e10097;
    --turquoise-color: #53dcff;
    --required: #fa5a5a;
    --text-underline: underline;
    --h1-font-family: "Tangerine";
    --h2-font-family:"Open Sans";
}
body{
    background-color:#000;
    color:whitesmoke;
    font-family:'Tangerine';
}

.header_title{
    display:flex;
    justify-content: space-between;
}

.header_name{
    margin-left: 50px;
    text-decoration: none;
}

.pers_name{
    color:whitesmoke;
    font-size: 4rem;
    margin-top:50px;
}
.header_nav{
    margin-right: 50px;
}

.nav-list{
    list-style-type: none;
    font-family: 'Open Sans';
    margin:0,auto;
    padding:0;
}

.nav-list li{
    display: inline-block;
    margin: 50px 15px 50px 15px;
}

.nav-list__item{
    font-size: 1.1rem;
    text-decoration: none;
}

.nav-list__item:link {
    color: var(--gold-color);
    text-decoration: var(--no-decoration);
  }
  
  .nav-list__item--visited:visited {
    color: var(--secondary-color);
    text-decoration: var(--gold-color);
  }
  
  .nav-list__item--hover:hover {
    color: var(--gold-color);
    text-decoration: var(--text-underline);
  }
  
  .nav-list__item--hover:focus {
    color: var(--turquoise-color);
    text-decoration: var(--text-underline);
  }
  
  .nav-list__item--active:active {
    color: #f559b0;
    text-decoration: var(--text-underline);
  }

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;

}

.photo{
    margin:100px 100px 0px 200px;
}

.text{
    line-height: 1.4;
    width:50%;
    padding-top:65px;
}

#benno_foto{
    width: 375px;
    height: 500px;
}

p{
    font-family: 'Open Sans';
    letter-spacing: 1px;
}

/* WHAT Page */

/* Header as flexboxcontainer with flexchildren */
.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
  }
  
  /* flex-first-child: logo */
  .page-header__item {
    flex: 0 1 200px;
  }
  
  /* flex-last-child */
  .page-header__item:last-child {
    flex-grow: 1;
    text-align: right;
  }
  
  /* header workpage */
  .work-header {
    display: flex;
    justify-content: center;
  }
  
  .work-header__item {
    font-size: 4rem;
    color: var(--gold-color);
  }
  
  /* *********************** */
  
  /* GRID */
  
  /* *********************** */
  
  /* start grid fallback */
  .grid__item {
    font-family: var(--h2-font-family);
    display: inline-block;
    width: 33%;
  }
  
  /* end grid fallback */
  
  /* Grid on Workpage */
  
  /* parent:container */
  
  /* Grid support */
  @supports (display: grid) {
    .grid {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 20px;
      margin: 0;
    }
  
    /* flexchildren */
  
    .grid__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        color: var(--primary-color);
        width: auto;
        min-height: auto;
        padding: 20px;
        margin: 0;
    }
  
    /* .grid__item:last-child{
    grid-column: 3/3;
    grid-row: 1/3;
  } */
  
    .grid__itemlink {
      color: var(--primary-color);
    }

    img{
        width:250px;
        height: 300px;
    }
  
  
  /* ******************** */
  
  /* FOOTER */
  
  /* ******************** */
  
  /* styling social media icons */
  .fa-brands {
    color: var(--secondary-color);
    font-size: 2em;
  }
  
  .page-footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    clear: both;
  }
}
  
  /* ************************ */
  
/* MEDIA */

@media all and (max-width: 500px){
  /* WHO */
    header{
      margin: 20px;
    }
    .header_title{
        display:flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    .header_name{
      margin: 10px;
    }

    .header-toggle{
      display: flex;
      justify-content: space-between;
      align-content: center;
      align-items: baseline;
      background: #000;
    }

    .nav-toggle {
      background: transparent;
      color: var(--gold-color);
      font-size: 2rem;
      border: none;
      cursor: pointer;
      transition: all 1s linear;
    }
    
    .nav-toggle:hover {
      transform: rotate(360deg);
    }

    .nav-link {
      font-family: "Open Sans", sans-serif;
      display: block;
      padding: 1rem 0rem;
      text-transform: uppercase;
      transition: all 1s linear;
      color: var(--gold-color);
      text-decoration: none;
      cursor: pointer;
      font-size: 1rem;
    }
    
    .nav-link:hover {
      color: #000;
      padding-left: 2rem;
      background: var(--gold-color);
      width: 300px;
    }
    
    .nav-links {
      height: 280px;
      overflow: hidden;
      transition: all 1s linear;
      list-style-type: none;
    }
    
    .show-links {
      height: 0px;
    }
    

    .header_nav {
      display:flex;
      flex-direction: column;
    }

    .nav-list li{
        display: block;
        margin: 0;
    }

    .container{
        display: block;
        width:100vw;
    }
    .photo{
        margin:0px;
    }
    .text{
        padding: 0 10px 0 10px;
        margin: 0px;
        width:93vw;

    }
    /* WHAT */
    .grid {
      grid-template-columns: 1fr;
    }
}
